/* STRUCTURAL STYLES */

.flapper {
    font-family: Arial, Helvetica, sans-serif;
}

.flapper .digit {
    position: relative;
    display: inline-block;
    margin: 0px 1px 0px 1px;
}

.flapper .digit div {
    position: absolute;
    text-align: center;
}

.flapper .digit .top {
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.flapper .digit .bottom {
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}

/* SIZE STYLES */

/* XXL 96x128 */

.flapper.XXL {
    font-size: 128px;
    line-height: 128px;
    height: 132px;
}

.flapper.XXL .digit {
    border-radius: 6px;
}

.flapper.XXL .digit,
.flapper.XXL .digit div {
    height: 128px;
    width: 96px;
    font-size: inherit;
    line-height: inherit;
}

.flapper.XXL .digit .top {
    clip: rect(0px, 96px, 63px, 0px);
}

.flapper.XXL .digit .bottom {
    clip: rect(65px, 96px, 128px, 0px); 
}

/* XL 72x96 */

.flapper.XL {
    font-size: 96px;
    line-height: 96px;
    height: 100px;
}

.flapper.XL .digit {
    border-radius: 5px;
}

.flapper.XL .digit,
.flapper.XL .digit div {
    height: 96px;
    width: 72px;
    font-size: inherit;
    line-height: inherit;
}

.flapper.XL .digit .top {
    clip: rect(0px, 72px, 47px, 0px);
}

.flapper.XL .digit .bottom {
    clip: rect(49px, 72px, 96px, 0px); 
}

/* L 54x72 */

.flapper.L {
    font-size: 72px;
    line-height: 72px;
    height: 76px;
}

.flapper.L .digit {
    border-radius: 4px;
}

.flapper.L .digit,
.flapper.L .digit div {
    height: 72px;
    width: 54px;
    font-size: inherit;
    line-height: inherit;
}

.flapper.L .digit .top {
    clip: rect(0px, 54px, 35px, 0px);
}

.flapper.L .digit .bottom {
    clip: rect(37px, 54px, 72px, 0px); 
}

/* M 40x54 (default) */

.flapper {
    font-size: 54px;
    line-height: 54px;
    height: 58px;
}

.flapper .digit {
    border-radius: 3px;
}

.flapper .digit,
.flapper .digit div {
    height: 54px;
    width: 40px;
    font-size: inherit;
    line-height: inherit;
}

.flapper .digit .top {
    clip: rect(0px, 40px, 26px, 0px);
}

.flapper .digit .bottom {
    clip: rect(27px, 40px, 54px, 0px); 
}

/* S 30x40 */

.flapper.S {
    font-size: 40px;
    line-height: 40px;
    height: 44px;
}

.flapper.S .digit {
    border-radius: 2px;
}

.flapper.S .digit,
.flapper.S .digit div {
    height: 40px;
    width: 30px;
    font-size: inherit;
    line-height: inherit;
}

.flapper.S .digit .top {
    clip: rect(0px, 30px, 19px, 0px);
}

.flapper.S .digit .bottom {
    clip: rect(20px, 30px, 40px, 0px); 
}

/* XS 24x30 */

.flapper.XS {
    font-size: 30px;
    line-height: 30px;
    height: 34px;
}

.flapper.XS .digit {
    border-radius: 1px;
}

.flapper.XS .digit,
.flapper.XS .digit div {
    height: 30px;
    width: 24px;
    font-size: inherit;
    line-height: inherit;
}

.flapper.XS .digit .top {
    clip: rect(0px, 24px, 14px, 0px);
}

.flapper.XS .digit .bottom {
    clip: rect(15px, 24px, 30px, 0px); 
}

/* THEME STYLES */

/* DARK (default) */

.flapper .digit {
    border: 2px solid #111;
}

.flapper .digit,
.flapper .digit div {
    background-color: black;
    color: white;
    padding: 0px;
}

.flapper .digit .top {
    background: #222222; /* Old browsers */
    background: -moz-linear-gradient(top,  #222222 1%, #000000 20%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#222222), color-stop(20%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #222222 1%,#000000 20%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #222222 1%,#000000 20%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #222222 1%,#000000 20%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #222222 1%,#000000 20%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.flapper .digit .bottom {
    background: #222222; /* Old browsers */
    background: -moz-linear-gradient(top,  #222222 50%, #000000 70%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#222222), color-stop(70%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #222222 50%,#000000 70%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #222222 50%,#000000 70%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #222222 50%,#000000 70%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #222222 50%,#000000 70%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/* LIGHT */

.flapper.light .digit {
    border: 2px solid #ccc;
}

.flapper.light .digit,
.flapper.light .digit div {
    background-color: #eee;
    color: black;
    padding: 0px;
}

.flapper.light .digit div {
}

.flapper.light .digit .top {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 1%, #ffffff 20%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eeeeee), color-stop(20%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 1%,#ffffff 20%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 1%,#ffffff 20%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 1%,#ffffff 20%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 1%,#ffffff 20%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.flapper.light .digit .bottom {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 50%, #ffffff 60%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#eeeeee), color-stop(60%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 50%,#ffffff 60%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 50%,#ffffff 60%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 50%,#ffffff 60%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 50%,#ffffff 60%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

